Please help me in writting two simple tasks in JavaScript.
Each task should be translated to Lithuanian language except only if it does conflict with JavaScript functionality.

Both tasks must include inline group method in the Web Console:
1. console.groupCollapsed() at the top of the document.
2. console.groupEnd at the bottom of the document.

The requirements for the document are as listed bellow:
The first task is to be titled as PASSWORD.
1. If the password is shorter than 16 characters, write that "The password is too short. It must be at least 16 characters long."
2. If the password is longer than 15 characters, then:
2.1. Check if it is longer than 20 characters. If it is longer, write: "The password is valid".
2.2. If it is not longer than 20 characters, then write that: "The password is valid." However, it is recommended that it be at least 21 characters long."

3. If the password does not have hashtags (#), then write: "Password must have hashtags".

The second task is to be titled as AGE.
According to the child's age, break down the list into which class the child has the right to be admitted:
1. They do not go to school until the age of 6.
2. 7-10 years go to primary school.
3. 11-14 year olds go to primary school.
4. 15-18 year olds go to high school.
5. 19+ have finished school.

6.1. If the age is less than 0, write that the entered age is too young.
6.2. If the age is more than 120, then write that the entered age is too high.

7.1. If the age is 6 years, then write: "Probably does not go to school, but may be a first grader."
7.2. If the age is 10 years, then write: "Probably studying in primary school, but may also be in fifth grade."
7.3. If the age is 14 years, then write: "Probably in primary school, but may be in the ninth grade."
7.4. If the age is 18 years, then write: "Probably studying in gymnasium, but may have finished school."

8. If the age is not entered (i.e. not a number), write: "The age is incorrectly specified, the age must be a number."
9. Use the prompt function to enter the age.




